@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;
    max-height: 100vh;
}

.section01{
    overflow-y: auto;
    display: grid;
    justify-content: center;
    align-items: center;

}
.btnLoadDate {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    background-color: lightcoral;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    transition: 50ms;
}

.btnLoadDate:hover {
    background-color: rgb(233, 181, 181);
}

.divScheduler {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 330px 1fr;
}

.divTimeDisplay {
    display: grid;
    justify-content: center;
    width: 300px;
    overflow-y: auto;
}
.divTimeSlot {
    background-color:lightcoral;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    box-sizing: border-box;

    display:grid;
    justify-content: center;
    align-items: center;
}